<!-- <header>
  <app-header></app-header>
</header>
<div id="main">
  <content>
    <app-location-search (locationEvent)="getLocation($event)"></app-location-search>
    <app-map [geoLocation]="geoLocation"></app-map>
  </content>
  <nav>
    <app-popular-search></app-popular-search>
  </nav>
</div> -->

<div class="container">
  <header>
    <app-header></app-header>
  </header>
  <aside>
    <app-popular-search></app-popular-search>
  </aside>
  <main>
    <app-location-search (locationEvent)="getLocation($event)"></app-location-search>
    <app-map [geoLocation]="geoLocation"></app-map>
  </main>
  <footer>FOOTER</footer>
</div>