/* 
   body {
     margin: 0;
   }
   #main {
     display: flex;
     min-height: calc(100vh - 40vh);
   }
   #main > content {
     flex: 1;
   }
   #main > nav, 
   #main > aside {
     flex: 0 0 20vw;
   }
   #main > nav {
     order: -1;
   }
   content, nav {
     padding: 1em;
   } */

.container {
  display: grid;
  grid-template-areas: 
  "h h"
  "a m"
  "f f";
  grid-template-columns: 15% 1fr;
  grid-template-rows: auto 1fr auto;
  height: 98vh;
}
 
header {
  grid-area: h;
}

aside {
  grid-area: a;
  margin: 1vh 1vh 0 0;
}
 
main {
  grid-area: m;
  margin: 1vh 0 4vh 0;
} 
 
footer {
  grid-area: f;
}