<form layout layout-align="center" layout-padding #form="ngForm" (ngSubmit)="onSubmit(form)">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Enter Location</mat-label>
    <input matInput id="location-search" name="location-search" class="form-control" [(ngModel)]="location"
      #locationField="ngModel">
    <button matSuffix mat-raised-button color="primary" type="submit">Search</button>
  </mat-form-field>
</form>