/* .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  } */
  mat-form-field.mat-form-field {
    width: 100%;
  }

  button {
    /* height: 100%; */
    vertical-align: middle;
    display: inline-block;
  }