<mat-toolbar color="secondary" class='mat-elevation-z6'>
  <mat-toolbar-row>
    <img class="img-fluid" src='../../assets/logo.png'>
    <!-- <h1>Safespot Parking Advisor</h1> -->
  </mat-toolbar-row>
</mat-toolbar>