<mat-card id="main">
    <mat-card-title>Popular Locations</mat-card-title>
    <mat-card-subtitle>Please select one below</mat-card-subtitle>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="sendLocation('Statue of Liberty')">Statue of Liberty</button>
    </mat-card-actions>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="sendLocation('Central Park')">Central Park</button>
    </mat-card-actions>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="sendLocation('Rockefeller Center')">Rockefeller
            Center</button>
    </mat-card-actions>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="sendLocation('Metropolitan Museum of Art')">Metropolitan
            Museum of
            Art</button>
    </mat-card-actions>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="sendLocation('Broadway')">Broadway</button>
    </mat-card-actions>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="sendLocation('Empire State Building')">Empire State
            Building</button>
    </mat-card-actions>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="sendLocation('9/11 Memorial')">9/11 Memorial</button>
    </mat-card-actions>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="sendLocation('High Line')">High Line</button>
    </mat-card-actions>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="sendLocation('Times Square')">Times Square</button>
    </mat-card-actions>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="sendLocation('Brooklyn Bridge')">Brooklyn Bridge</button>
    </mat-card-actions>
</mat-card>